{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h3>page de modification</h3>

    {{ form(form) }}



{% endblock %}
